.picture {
    display: block;
    width: 100%;
    height: auto;

    .img {
        width: 100%;
        height: auto;
    }

    &--cover {
        width: 100%;
        height: 100%;

        .img--cover {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
