{# Variables #}

{% set title = title ??? null %}
{% set image = image.one() ??? image ??? null %}
{% set featuredImage = featuredImage.one() ??? featuredImage ??? null %}

{# Output #}

{# <div class="padding-global"> #}
    <div class="hero-home" data-hero-home>
        <div class="hero-home__content">
            {% if title %}
                <div class="hero-home__title-wrap">
                    <h1 class="hero-home__title heading-1" data-hero-home-title>{{ title|nl2br }}</h1>
                </div>
            {% endif %}
            {% if image %}
                <div class="hero-home__image">
                    {% include 'primitives/_picture' with {
                        image: image,
                    } %}
                </div>
            {% endif %}

            {% if featuredImage %}
                <a href="{{ url('work') }}" class="hero-home__featured">
                    <span class="hero-home__featured__image-wrap">
                        {% include 'primitives/_picture' with {
                            image: featuredImage,
                            transform: { width: 600 },
                        } %}
                    </span>
                    <span class="hero-home__featured__caption">
                        <span class="hero-home__featured__caption-title">Project<br> in de kijker</span>
                        <span class="hero-home__featured__caption-cta">
                            <span class="btn__text-inner">
                                <span class="btn__text-track">
                                    <span class="btn__text">Bekijk meer</span>
                                    <span class="btn__text" aria-hidden="true">Bekijk meer</span>
                                </span>
                            </span>
                            <div class="btn__arrow-right">
                                {{ svg("static/icons/arrow-right.svg")|attr({ class: "svg svg--auto" }) }}
                            </div>
                        </span>
                    </span>
                </a>
            {% endif %}

            <div class="hero-home__scroll-indicator">(Scroll)</div>
        </div>
        <div class="hero-home__spacer"></div>
    </div>
{# </div> #}